# Ignore Git data
.git/
.gitignore

# Ignore target folder (build artifacts)
target/

# Ignore backup files created by some editors
*~
*.swp

# Ignore files related to development
*.log
.DS_Store
.vscode/
.idea/

# Ignore other files/folders 
README.md
